
@media (max-width: 768px) {
  .about p {
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
  }

  .navigation {
    display: none; /* Oculta la navegaci칩n por defecto */
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 20px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
  }

  .nav-links {
    list-style: none;
    flex-direction: row;
    gap: 15px;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 14px;
    padding: 8px;
  }

  .carousel-container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }

  .product {
    width: 250px; /* Ajusta el ancho del producto para pantallas m치s peque침as */
    margin-right: 10px;
  }

  .product img {
    height: 150px;
  }

  footer {
    padding: 40px;
    height: 80px;
    flex-direction: row; /* Mantiene la distribuci칩n en pantallas grandes */
    justify-content: space-between;
  }

  header {
    flex-direction: row;
    padding: 15px;
  }

  .logo img {
    max-height: 60px;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    color: var(--tertiary-color);
    font-size: 30px;
    margin-right: 20px;
  }

  .menu-toggle.open + .navigation {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}