@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #023047;
  --secondary-color: #219ebc;
  --tertiary-color: white;
  --neutral-color: #f9f9f9;
  --web-color: #ffb703;
  --web-hove: #fb8500;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding-bottom: 180px;
}

h2 {
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: bold;
}

h3 {
  color: var(--tertiary-color);
}

a, p {
  color: var(--tertiary-color);
  text-decoration: none;
  font-size: 0.9em;
}

.logo img {
  display: flex;
  justify-content: left;
  max-height: 80px;
  width: auto;
  margin-left: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}

.navigation {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 10px;
  margin-left: 15px;
}

.nav-links a:hover {
  background-color: var(--secondary-color);
  border-radius: 8px;
  transform: scale(1.1);
}

.menu-toggle {
  display: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
}

footer div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-align: left;
}

.contact, .classs, .reserved {
  border: none;
  background-color: transparent;
}

.reserved p, .reserved a {
  text-align: center;
  justify-content: center;
}

#members-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.member-card {
  background: var(--secondary-color);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}

.member-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.member-card a {
  color: var(--web-color);
}

.member-card a:hover {
  color: var(--web-hove);
}

.grid .member-card {
  width: 250px;
}

.list .member-card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.list .member-card img {
  width: 50px;
  height: 50px;
}

#toggle-view {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
  display: block;
  margin: 20px auto;
}

#toggle-view:hover {
  background-color: var(--primary-color);
}

.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(35%);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--secondary-color);
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background-color: var(--secondary-color);
}

#weather {
  margin: 20px auto;
  padding: 10px;
  max-width: 400px;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
